/*----------------HACKS----------------*/

/*Sposób na to, by zaznaczaćw menu stronę, która aktualnie jest podświetlona.
  Dzięki temu możemy stosować taki sam header w każdej podstronie.
  */
.glowna #head-wrapper nav .nav-1-link a,
.oprojekcie #head-wrapper nav .nav-2-link a,
.aktualnosci #head-wrapper nav .nav-3-link a,
.forum #head-wrapper nav .nav-4-link a,
.analizy #head-wrapper nav .nav-5-link a,
.kontakt #head-wrapper nav .nav-6-link a
	{
	border: 0;
	background: url(../images/menu-bg.png) center;
}

.naukowiec #jestem-naukowcem {
	background: url(../images/jestem-naukowcem-bg-h.png) repeat-x;
}

.przedsiebiorca #jestem-przedsiebiorca {
	background: url(../images/jestem-przedsiebiorca-bg-h.png) repeat-x;
}

/*----------------OGÓLNE----------------*/
.button {
	display: inline-block;
	padding: 7px 9px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
	color: #fff;
	text-shadow: 1px 1px 0 #777;
	background: #01c8ec;
	white-space: nowrap;
	overflow: visible;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid #0194af;
	border-style: outset;
	outline: none;
	position: relative;
}

.button:hover {
	background: #5c96dc;
	border: 1px solid #4981c4;
}

.link-right {
	text-align: right;
}

.link-more {
	margin: 5px 0;
	display: inline-block;
}

.link1 {
	color: #178DB9;
	text-decoration: none;	
	font-weight: bold;
}

.link1:hover {
	color: #000;	
}
.link2 {
	color: #fff;
	text-decoration: underline;
}

.link2:hover {
	color: #d5d5d5;	
}
.link3 {
	color: #178DB9;
}

.link3:hover {
	color: #000;	
}
.link4 {
	color: #8d8d8d;
}

.link4:hover {
	color: #000;	
}
/*----------------HEADER----------------*/
#main-header {
	height: 317px;
	background: url(../images/droga-tlo.png) repeat-x;
}

footer {
	background: #ebebeb;
	border-top: 3px solid #888888;
}

#head-wrapper {
	margin: auto;
	width: 980px;
	padding-top: 20px;
}
/*----------------LOGO----------------*/
#main-logo {
	position: absolute;
	z-index: 10;
}

#head-wrapper h1 {
	text-indent: -9999px;
	float: left;
}

#head-wrapper h1 a {
	background: url(../images/logo.png);
	display: block;
	text-indent: -9999px;
	height: 67px;
	width: 358px;
	z-index: 1;
}
/*----------------USER PANEL----------------*/
#login-user-panel {
	float: right;
	width: 400px;
	color: #fff;
	text-align: right;
}

#login-user-panel a {
	margin: 0 0 10px 5px;
}
/*----------------NAWIGACJA----------------*/
#head-wrapper nav {
	margin: 10px 0 0;
	width: 980px;
	float: right;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

#head-wrapper nav ul {
	margin: 0;
	float: left;
}

#head-wrapper nav li {
	height: 36px;
	margin: 10px 0;
	border-right: 1px solid #333;
	float: left;
	position: relative;
}

#head-wrapper nav li a.first {
	margin-left: 0;
	border: 0;
}

#head-wrapper nav li a {
	display: block;
	position: relative;
	top: -12px;
	height: 24px;
	color: #fff;
	text-decoration: none;
	padding: 20px 12px;
}

#head-wrapper nav li a:hover {
	border: 0;
	background: url(../images/menu-bg.png) center;
}
/*----------------NAV SEARCH FORM----------------*/
#search-form {
	padding: 12px 0 0;
	width: 300px;
	float: right;
}

#search-form input {
	background: url(../images/lupa_ico.gif) #fff no-repeat 97% 50%;
	width: 205px;
	height: 28px;
	padding: 0 10px;
	font-size: 13px;
	float: left;
	border: 0;
}

#search-form p {
	width: 70px;
	float: right;
}
/*----------------WSPÓLNA DROGA----------------*/
#wspolna-droga {
	background: url(../images/droga.png) no-repeat;
	width: 630px;
	height: 162px;
	clear: both;
	color: #fff;
	padding-top: 10px;
	padding-right: 350px;
}

#wspolna-droga h2 {
	font-size: 24px;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-bottom: 10px;
}

#wspolna-droga p {
	font-size: 16px;
	line-height: 24px;
}

/*----------------JESTEM----------------*/
#jestem {
	width: 100%;
	color: #fff;
}

#jestem h2 {
	margin: 20px 0 10px;
	font-size: 30px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: underline;
}

#jestem p {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
}

#jestem a {
	color: #fff;
	text-decoration: none;
}

#jestem-naukowcem,#jestem-przedsiebiorca {
	height: 116px;
	width: 50%;
}

#jestem-naukowcem {
	float: left;
	background: url(../images/jestem-naukowcem-bg.png) repeat-x;
}

#jestem-przedsiebiorca {
	float: right;
	background: url(../images/jestem-przedsiebiorca-bg.png) repeat-x;
}

#jestem-naukowcem:hover {
	background: url(../images/jestem-naukowcem-bg-h.png) repeat-x;
}

#jestem-przedsiebiorca:hover {
	background: url(../images/jestem-przedsiebiorca-bg-h.png) repeat-x;
}

#jestem-naukowcem-box {
	background: url(../images/naukowiec_ico.png) no-repeat 95% 50%;
	padding: 0 10px;
	width: 469px;
	border-right: 1px solid white;
	height: 116px;
	float: right;
	text-align: left;
}

#jestem-przedsiebiorca-box {
	background: url(../images/przedsiebiorca_ico.png) no-repeat 5% 50%;
	height: 116px;
	padding: 0 10px;
	width: 469px;
	border-left: 1px solid white;
	float: left;
	text-align: right;
}

/*----------------SITE WRAPPER----------------*/
#site-wrapper {
	clear: both;
	width: 980px;
	padding: 10px;
	margin: auto;
	overflow: auto;
}

#site-navigation {
	margin: 0 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;	
}

.jestem-list {
	list-style: none;
}

.jestem-list li{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 8px 0 8px 0px;
	border-bottom: 1px dashed #9c9c9c;
}

.forum-info {
	display: inline-box;
	width: 350px;
	margin: 100px auto;
	font-size: 30px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/*----------------MAIN CONTENT----------------*/
#content-all{
	float: left;
	padding: 10px;
	width: 960px;
}


#content {
	float: left;
	width: 	660px;
	padding: 10px;
}


#content h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000;
	margin: 0 0 5px;
}

#content p {
	font-size: 13px;	
}

.index-proposition {	
	margin: 10px 0;
	padding: 5px 0 10px;
}

.index-proposition img{
	float: left;
	margin-right: 20px;
}
.index-proposition header h4 {
	font-family: Georgia, Helvetica, sans-serif;
	font-size: 18px;
	padding: 0 0 5px 0;
	
}

.index-proposition section{
	overflow: auto;
}

.index-proposition section p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	line-height: 20px;
}

.index-article {
	border-bottom: 1px dashed #9c9c9c;
	margin: 5px 0;
	padding: 5px 0 10px;
	overflow: auto;
}

.index-article section select{
	width: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
}

.index-article-half{
	float: left;
	margin: 5px 0;
	padding-right: 30px;
}

.index-article-half section{
	float: left;
	margin: 15px 0;
	clear: both;
}

.index-article-half section p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	padding-right: 80px;
	float: left;
}

.index-article-half section select{
	float: left;
	width: 150px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
}

.index-article-half header h4{
	font-family: Georgia, Helvetica, sans-serif;
	font-size: 15px;
	color: #000;
}

.index-article header h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	
}

.index-article header h3 {
	font-family: Georgia, Helvetica, sans-serif;
	font-size: 20px;
	color: #000;
}


.index-article header time {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #8d8d8d;
	display: block;
	margin: 3px 0 3px;
}


.index-article section p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	line-height: 20px;		
}

.index-article section p.analizy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	padding: 5px 0 5px 0;
}

.aktualnosci-header {
	font-family: Georgia, Helvetica, sans-serif;
	font-size: 20px;
	color: #000;
	margin: 10px 0;
}
/*----------------MAIN CONTENT2----------------*/
#content2 {
	width: 730px;
	padding: 10px;
	float: right;
}

#content2 h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000;
	margin-bottom: 15px;
	clear: left;
}


#content2 h3 time {
	font-family: Georgia, Helvetica, sans-serif;
	font-size: 15px;
	color: #8d8d8d;
}

#content2 p, #content2 pre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	line-height: 20px;
}

.kadra {
	clear: both;	
	margin: 20px 0;
}

.kadra header h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #000;
}

.tytul-naukowca {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	margin-bottom: 10px;
}

.kadra .opis-naukowca {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	line-height: 20px;
}

.kadra-zdjecie {
	float: left;
	border: 1px solid #888888;
	width: 98px;
	min-height: 100px;
	padding: 3px 3px 0;
	height-min: 50px;
	margin: 0 10px 10px 0;
	background: url(../images/kadra-brak.png) no-repeat;
}

.raport {
	border-bottom: 1px dashed #9c9c9c;
	overflow: auto;
	padding: 0 0 10px;
	margin: 10px 0;
}

.raport-pobierz {
	float: right;
	font-size: 13px;
}

.raport h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	background:url(../images/pdf_ico.png) left no-repeat;
	padding: 3px 0 3px 20px;
}

.raport time {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	color: #8d8d8d;
	margin-bottom: 5px;
	display: block;
}

.raport p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	line-height: 20px;	
}

.baza-linkow {
	overflow: auto;
	padding: 0 0 10px;
	margin: 10px 0;
}

.baza-linkow h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.baza-linkow p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	line-height: 20px;	
}

.galeria {
	overflow: auto;
	padding: 0 0 10px;
	margin: 10px 0;
}

.galeria h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

/************** Zmiany, coś chyba nie do końca ****************/
#content2 p.large{
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 19px;
	color: #000;
	padding-right: 10px;
}

#content2 div.search-box{
	padding-top: 10px;
	clear: both;
	margin-bottom: 10px;
}

#content2 div.found{
	width: 700px;
	height: 40px;
	clear: both;
	margin-bottom:1px;	
}

#content2 div.found-border{
	border: 1px solid #8d8d8d;
	
}

#content2 div.found .pole{
	float: left;
	text-indent: 10px;
	font-family:'Arial CE'; 
	font-size:15px;
	padding-top: 10px;
	
}

#content2 div.found .nazwa{
	width: 300px;
}


#content2 div.found .nazwa-link{
	width: 300px;
	color:#0000FF; 
	text-decoration: none;
}

#content2 div.found .typ{
	width: 200px;
}

#content2 div.found .data{
	width: 130px;
}

#content2 div.found .zobacz-link{
	width: 50px;
	color:#0000FF;
	text-decoration: none;
}

/********************************************************/


#content2 div.image-aktualnosci{
	float: left;
	margin: 10px;
	border: 1px solid #8d8d8d;
	width: 102px;
	height: 102px;
	
}
#content2 div.image-aktualnosci	img{
	margin: 1px;
}
/*----------------SIDEBAR----------------*/
.index-sidebar {
	width: 280px;
	padding: 10px;
	float: right;	
}

.index-sidebar a.button-right {
	float: right;
	margin-top: 10px;
	margin-bottom: 5px;
}

.index-sidebar h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000;
	margin: 0 0 5px;
}

.index-sidebar h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #000;
	margin: 0 0 5px;
}

.index-sidebar p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	line-height: 20px;		
}

.index-sidebar-box {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #9c9c9c;
	overflow: auto;
}


.last-index-sidebar-box {
	border: 0;
}

ul.pdf-list {
	list-style: none;
}

ul.pdf-list li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 8px 0 8px 20px;
	background: url(../images/pdf_ico.png) no-repeat 0 50%;
	border-bottom: 1px dashed #9c9c9c;
}


/*----------------SIDEBAR2----------------*/
.sidebar2 {
	width: 210px;
	margin: 10px;
	min-height: 400px;
	float: left;
	background: #ebebeb;
	border-bottom: 2px solid #c0c0c0;
}

.sidebar2 p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	line-height: 20px;
	margin: 10px;
}

.submenu1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #fff;
	list-style: none;
}

.submenu1 li {
	background: #888888;
	
	border-top: 1px solid white;
	border-bottom: 1px solid #636363;
}

.submenu1 li:hover, 
.submenu-checked1 .submenu-element1,
.submenu-checked2 .submenu-element2,
.submenu-checked3 .submenu-element3,
.submenu-checked4 .submenu-element4 {
	background: #01c8ec !important;
}

.submenu1 a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	display: block;
	width: 100%;
	padding: 7px 10px;
}

/*----------------FORMULARZ KONTAKTOWY, ANALIZY----------------*/

.analiza-form{
	overflow: auto;
}

.analiza-form div {
	clear: both;
	overflow: auto;
	margin-bottom: 10px;
}

.analiza-form label{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	padding: 8px 0;	
	width: 175px;
	float: left;
}

.analiza-form div input{
	float: left;
	width: 290px;
	padding: 0 10px;	
	height: 24px;
	font-size: 13px;
	border: 1px solid b3b3b3;
}

.analiza-button {
	width: 70px;
	display: block;
	float: right;
}


.contact-form {
	width: 600px;	
}

.contact-form div {
	clear: both;
	margin: 5px 0;
	overflow: auto;
}

.contact-form label{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	padding: 8px 0;
	width: 90px;
	display: inline-block;
	float: left;
}

.contact-form div input{
	float: left;
	width: 180px;
	height: 24px;
	padding: 0 10px;
	margin-right: 10px;
	font-size: 13px;
	border: 1px solid b3b3b3;	
}

.contact-button {
	width: 70px;
	display: block;
	float: right;
	margin-right: 5px;
}

.contact-form textarea {
	float: left;
	width: 490px;
	height: 200px;
	padding: 5px;
	font-size: 13px;
	border: 1px solid b3b3b3;	
}

.contact-form div p.form-warning {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px !important;
	color: #ff0000 !important;
	padding: 1px 0;
	float: left;
	clear: left;
	margin-left: 92px;
	margin-bottom: 5px;
}

.contact-success {
	font-family: Georgia, Helvetica, sans-serif !important;
	font-size: 18px !important;
	padding: 0 0 5px 0;
	margin: 10px 0;
	text-align: center;
}

/*----------------FORMULARZ TWOJE DANE----------------*/
.account-form {
	width: 600px;	
}

.account-form div {
	clear: both;
	margin: 5px 0;
	overflow: auto;
}

.account-form label{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	padding: 8px 0;
	width: 140px;
	display: inline-block;
	float: left;
}

.account-form div input.account-text{
	float: left;
	width: 160px;
	height: 24px;
	padding: 0 10px;
	margin-right: 10px;
	font-size: 13px;
	border: 1px solid b3b3b3;	
}

.account-button {
	width: 70px;
	display: block;
	float: right;
	margin-right: 5px;
}

.account-form textarea {
	float: left;
	width: 440px;
	height: 200px;
	padding: 5px;
	font-size: 13px;
	border: 1px solid b3b3b3;	
}

.account-form div p.form-warning {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ff0000 !important;
	padding: 3px 0;
	float: left;
}

.account-checkboxes p{
	width: 70px;
	float: left;
}

.account-checkboxes input{
	float: left;
	margin-right: 5px;
}

.account-button {
	width: 100px;
	display: block;
	float: right;
	margin-right: 5px;
	text-align: center;
}
/*----------------PUBLIKACJE----------------*/
.publikacje-table {
	width: 100%;
	margin: 15px 0;	
}

.publikacje-table td, .publikacje-table th {
	padding: 10px 5px;	
	text-align: left;
}

.publikacje-table td {
	font-size: 13px;	
	border-bottom: 1px solid #c4c4c4;
}

.publikacje-table td:first-child, .publikacje-table th:first-child {
	width: 300px;	
}

.publikacje-table thead {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;	
}

.publikacje-table thead p {
	float: left;
	margin-right: 5px;
}

.publikacje-table thead img {
	float: left;
	margin: 0 5px 0 0;
	padding: 5px;
}

.publikacje-table h4 {
	font-size: 15px;
	margin-bottom: 10px;
}

/*----------------PROFIL NAUKOWCA----------------*/
.profil-naukowca {
	border-bottom: 1px dashed #9c9c9c;
	margin: 10px 0px;
	padding: 0px 0px 20px;
	overflow: auto;
}

.profil-naukowca header h1 {
	font-family: Georgia, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 100;
	color: #000;
	padding: 0px 0px 10px;
	margin: 0px 0px;
}

.profil-naukowca header h2 {
	font-family: Georgia, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	padding: 20px 0px 10px;
	margin: 0px 0;
}

.profil-naukowca header h3 {
	font-family: Georgia, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}

.link-tag {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 5px 0px 5px;
}

.profil-naukowca section p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
}

.profil-naukowca section p.withlh {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	line-height: 20px;
}

.profil-naukowca section p.link15 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000;
	padding: 15px 0px 5px;
}

.profil-naukowca section p.data {
	font-family: Georgia, Helvetica, sans-serif;
	font-size: 15px;
	color: #8D8D8D;
	padding: 0px 0px 5px;
}

.profil-naukowca header tagi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 0px 0px 20px;
}

/*----------------PAGINACJA----------------*/
.paginacja-box {
	width: 300px;		/*TEGO NIE POWINNO BYĆ!!!! - DO NAPRAWY*/
	margin:10px auto;
	overflow: auto;
	height: 40px;
}

.paginacja-prev p{
	float: left;
	font-size: 30px !important;
	font-weight: bold;
}

.paginacja-next p{
	float: right;	
	font-size: 30px !important;
	font-weight: bold;
}

.paginacja-number {
	width: 90%;
	margin: auto;
	text-align: center;
	padding: 5px 0;
}

.paginacja-number span {
	border: 1px solid #c0c0c0;
	background: #ebebeb;
	font-size: 18px;
}

.paginacja-selected {
	padding: 0 5px;	
}

.paginacja-number a {
	padding: 10px 5px;
}

.paginacja-number span:hover, .paginacja-selected {
	border: 1px solid #dbdbdb !important;
	background: #fff !important;
}

/*----------------STOPKA----------------*/
#footer-wrapper {
	position: relative;
	top: -3px;
	margin: auto;
	padding: 5px 10px;
	width: 970px;
	background: #ebebeb;
	border-top: 3px solid #c0c0c0;
	overflow: auto;
}

footer p,footer a {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #8d8d8d;
}

footer img {
	
}

.copyright {
	padding: 20px 0;
	float: left;
}

#footer-images {
	float: right;
}